[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
django = "*"
psycopg2 = "*"
django-imagekit = "*"
djangorestframework = "*"
django-service-objects = "*"
python-dotenv = "*"
pillow = "*"
olefile = "*"

[requires]
python_version = "3.11"
