[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
django = "*"
psycopg2 = "*"
django-imagekit = "*"
djangorestframework = "*"
python-dotenv = "*"
pillow = "*"
olefile = "*"
djoser = "*"
social-auth-app-django = "*"
django-fsm = "*"
celery = "*"
redis = "*"
drf-yasg = "*"
factory-boy = "*"
kombu = "*"
django-service-objects = "*"
channels = "*"
axios = "*"
daphne = "*"
twisted = {extras = ["tls", "http2"], version = "*"}
channels-redis = "*"

[requires]
python_version = "3.11"
